<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>영화 나라 - 로그인</title>
</head>
<body>

<section layout:fragment="container">
  <div>
    <p>로그인</p>
    <form action="/sign/in" class="sign-in-form" method="post">
      <div>
        <input name="username" placeholder="아이디" type="text">
      </div>
      <div>
        <input name="password" placeholder="비밀번호" type="password">
      </div>
      <div>
        <label>
          로그인 기억
          <input name="remember" type="checkbox">
        </label>
      </div>
      <div>
        <button class="sign-in-btn">로그인</button>
      </div>
      <div>
        <a href="/sign/up">회원가입</a>
        <a href="/account/find-username">아이디 찾기</a>
        <a href="/account/find-password">비밀번호 찾기</a>
      </div>
    </form>
  </div>
</section>

</body>
</html>

<script>
  const $signInForm = $('.sign-in-form')
  const $usernameInput = $('input[name=username]')
  const $passwordInput = $('input[name=password]')
  const $signInBtn = $('.sign-in-btn')
  let isUsernameWritten = false
  let isPasswordWritten = false

  $signInBtn.on('click', (e) => {
    e.preventDefault()
    if($usernameInput.val().length === 0) {
      isUsernameWritten = false
      $usernameInput.parent().append('<p class="error">아이디가 입력되지 않았습니다.</p>')
    } else {
      isUsernameWritten = true
      $usernameInput.parent().children('.error').remove()
    }
    if($passwordInput.val().length === 0) {
      isPasswordWritten = false
      $passwordInput.parent().append('<p class="error">비밀번호가 입력되지 않았습니다.</p>')
    } else {
      isPasswordWritten = true
      $passwordInput.parent().children('.error').remove()
    }
    if(isUsernameWritten && isPasswordWritten) {
      $signInForm.submit()
    }
  })
</script>