<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>영화 나라 - 로그인</title>
</head>
<body>

<section layout:fragment="content">
  <div>
    <p>로그인</p>
    <form>
      <div>
        <input name="username" placeholder="아이디" type="text">
      </div>
      <div>
        <input name="password" placeholder="비밀번호" type="password">
      </div>
      <div>
        <label>
          로그인 기억
          <input name="remember" type="checkbox">
        </label>
      </div>
      <div>
        <button>로그인</button>
      </div>
      <div>
        <a href="">회원가입</a>
        <a href="">아이디 찾기</a>
        <a href="">비밀번호 찾기</a>
      </div>
    </form>
  </div>
</section>

</body>
</html>
