<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.movieland.mapper.account.AccountMapper">

    <resultMap id="BaseResultMap" type="Account">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="resign_yn" property="resignYn"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <sql id="columns">
        ${alias}id AS ${prefix}id,
        ${alias}username AS ${prefix}username,
        ${alias}password AS ${prefix}password,
        ${alias}`name` AS `${prefix}name`,
        ${alias}email AS ${prefix}email,
        ${alias}resign_yn AS ${prefix}resign_yn,
        ${alias}create_date AS ${prefix}create_date,
        ${alias}update_date AS ${prefix}update_date
    </sql>

    <select id="findAll" resultMap="BaseResultMap" parameterType="Account">
        SELECT
        <include refid="columns">
            <property name="alias" value=""/>
            <property name="prefix" value=""/>
        </include>
        FROM account
    </select>

    <select id="findOne" resultMap="BaseResultMap" parameterType="Account">
        SELECT
        <include refid="columns">
            <property name="alias" value=""/>
            <property name="prefix" value=""/>
        </include>
        FROM account
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="username != null and username != ''">
                AND username = #{username}
            </if>
            <if test="name != null and name != '' and email != null and email != ''">
                AND `name` = #{name} AND email = #{email}
            </if>
            <if test="username != null and username != '' and email != null and email != ''">
                AND username = #{username} AND email = #{email}
            </if>
        </where>
    </select>

    <insert id="create" parameterType="Account">
        INSERT INTO
        account (id, username, password, name, email, role)
        VALUES (#{id}, #{username}, #{password}, #{name}, #{email}, #{role})
    </insert>

    <update id="modify" parameterType="Account">
        UPDATE account
        SET update_date = CURRENT_TIMESTAMP
        <if test="username != null and username != ''">
            , username = #{username}
        </if>
        <if test="password != null and password != ''">
            , password = #{password}
        </if>
        <if test="name != null and name != ''">
            , name = #{name}
        </if>
        <if test="email != null and email != ''">
            , email = #{email}
        </if>
        <if test="role != null">
            , role = #{role}
        </if>
        <if test="resignYn != null and resignYn != ''">
            , resign_yn = #{resignYn}
        </if>
        WHERE id = #{id}
    </update>

    <update id="resign" parameterType="Account">
        UPDATE account
        SET
        update_date = CURRENT_TIMESTAMP
        , resign_yn = 'y'
        WHERE id = #{id}
    </update>

</mapper>