<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="navFragment">
  <ul>
    <li sec:authorize="isAnonymous()">
      <a href="/sign/in">로그인</a>
    </li>
    <li sec:authorize="isAnonymous()">
      <a href="/sign/up">회원가입</a>
    </li>
    <li sec:authorize="isAuthenticated()">
      <a href="/account/profile">프로필</a>
    </li>
    <li sec:authorize="hasRole('ADMIN')">
      <a href="/movie/upload">영화 등록</a>
    </li>
    <li>
      <a href="/movie/list">영화 목록</a>
    </li>
    <li sec:authorize="hasRole('ADMIN')">
      <a href="/movie-theater/register">영화관 등록</a>
    </li>
    <li sec:authorize="hasRole('ADMIN')">
      <a href="/movie-theater/list">영화관 목록</a>
    </li>
  </ul>
</nav>
</html>