<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>영화 나라 - 비밀번호 변경</title>
</head>
<body>

<section layout:fragment="container">
  <div>
    <p>비밀번호 변경</p>
    <form class="change-password-form">
      <input name="id" th:value="${id}" type="hidden">
      <div>
        <input name="password" placeholder="변경할 비밀번호" type="password">
      </div>
      <div>
        <input name="passCheck" placeholder="비밀번호 확인" type="password">
      </div>
      <div>
        <button class="change-password-btn">비밀번호 변경</button>
      </div>
    </form>
  </div>
</section>

</body>
</html>

<script>
  const $changePwForm = $('.change-password-form')
  const $idInput = $('input[name=id]')
  const $passwordInput = $('input[name=password]')
  const $passCheckInput = $('input[name=passCheck]')

  $changePwForm.validate({
    rules: {
      password: {
        required: true
      },
      passCheck: {
        required: true,
        equalTo: '[name=password]'
      }
    },
    messages: {
      password: {
        required: '비밀번호가 입력되지 않았습니다.'
      },
      passCheck: {
        required: '확인 비밀번호가 입력되지 않았습니다.',
        equalTo: '비밀번호가 일치하지 않습니다.'
      }
    },
    submitHandler: () => {
      $.ajax({
        url: 'http://localhost:8080/api/account/change-password',
        type: 'PUT',
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify({
          id: $idInput.val(),
          password: $passwordInput.val()
        }),
        success: () => {
          alert('비밀번호 변경 성공!\n로그인 페이지로 이동합니다.')
          location.href = '/sign/in'
        },
        error: () => {
          alert('비밀번호 변경 실패')
        }
      })
    }
  })
</script>
