<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>영화 나라 - 비밀번호 변경</title>
</head>
<body>

<section layout:fragment="content">
  <div>
    <p>비밀번호 변경</p>
    <form>
      <input name="id" th:value="${id}" type="hidden">
      <div>
        <input name="password" placeholder="변경할 비밀번호" type="password">
      </div>
      <div>
        <input name="passCheck" placeholder="비밀번호 확인" type="password">
      </div>
      <div>
        <button>비밀번호 변경</button>
      </div>
    </form>
  </div>
</section>

</body>
</html>
