<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>영화 나라 - 아이디 찾기</title>
</head>
<body>

<section layout:fragment="container">
  <div>
    <p>아이디 찾기</p>
    <form class="find-username-form">
      <div>
        <input name="name" placeholder="이름" type="text">
      </div>
      <div>
        <input name="email" placeholder="이메일" type="text">
      </div>
      <div>
        <button>아이디 찾기</button>
      </div>
      <div>
        <a href="/sign/in">로그인</a>
        <a href="/sign/up">회원가입</a>
        <a href="/account/find-password">비밀번호 찾기</a>
      </div>
    </form>
  </div>
</section>

</body>
</html>

<script>
  const $findUsernameForm = $('.find-username-form')
  const $nameInput = $('input[name=name]')
  const $emailInput = $('input[name=email]')

  $findUsernameForm.validate({
    rules: {
      name: {
        required: true
      },
      email: {
        required: true,
        email: true
      }
    },
    messages: {
      name: {
        required: '이름이 입력되지 않았습니다.'
      },
      email: {
        required: '이메일이 입력되지 않았습니다.',
        email: '이메일 형식이 올바르지 않습니다.'
      }
    },
    submitHandler: () => {
      $.ajax({
        url: `http://localhost:8080/api/account/find-username?name=${$nameInput.val()}&email=${$emailInput.val()}`,
        type: 'GET',
        contentType: 'application/json',
        success: (data) => {
          $nameInput.val('')
          $emailInput.val('')
          alert(`회원님의 아이디는 [${data}]입니다.`)
        },
        error: (request) => {
          $nameInput.val('')
          $emailInput.val('')
          alert('회원 정보가 존재하지 않습니다.')
        }
      })
    }
  })
</script>
