<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>영화 나라 - 비밀번호 찾기</title>
</head>
<body>

<section layout:fragment="content">
  <div>
    <p>비밀번호 재설정을 위한 인증</p>
    <form>
      <div>
        <input name="username" placeholder="아이디" type="text">
      </div>
      <div>
        <input name="email" placeholder="이메일" type="text">
        <button>인증 요청</button>
      </div>
      <div>
        <input name="authNumber" placeholder="인증 번호를 입력하세요" type="text">
      </div>
      <div>
        <button>비밀번호 재설정</button>
      </div>
      <div>
        <a href="/sign/in">로그인</a>
        <a href="/sign/up">회원가입</a>
        <a href="/account/find-username">아이디 찾기</a>
      </div>
    </form>
  </div>
</section>

</body>
</html>
